In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Date
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base

In [2]:
# Create our database engine
engine = create_engine('sqlite:///../heart_diagnosis.sqlite')

In [3]:
# Read data from CSV and load into a dataframe object
data = pd.read_csv('heart.csv')
 
# Write data into the table in PostgreSQL database
data.to_sql('heart_diagnosis',engine, if_exists = "replace", index = False)

In [10]:
# Query ALL Records in the database and create a dataframe
conn = engine.connect()
Heart_data = pd.read_sql("SELECT * FROM heart_diagnosis" , conn)
Heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
# Get number of rows and columns 
Heart_data.shape

(303, 14)

In [12]:
# Drop rows with missing data
cleaned_df = Heart_data.dropna()

In [13]:
# Get number of rows and columns after dropping rows with missing data
cleaned_df.shape

(303, 14)

In [14]:
# Check all the data types for all the columns
cleaned_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [15]:
# Determine the number of unique values in each column.
cleaned_df.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64